@import url('https://fonts.googleapis.com/css?family=Armata');

:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.9em);
}

*,
::before,
::after {
    box-sizing: inherit;
}

.clearfix::after {
  display: block;
  content: " ";
  clear: both;
}

body {
  font-family: Armata, verdana;
}

@media (min-width: 30em) {
  body {
    font-size: calc(1vw + 0.4em);
  }
}

@media (min-width: 70em) {
  body {
    font-size: calc(1vw + 0.2em);
    margin: 0 10em;
  }
}

body * + * {

}

#all {
	font-family: verdana;
	font-size: 12px;
	margin: 0px auto;
}

main {
  padding: 1em;
  font-family: Verdana;
}

@media (min-width: 70em) {
  main {
    padding: 2em 1em;
  }
}

.menu {
  position: relative;
  padding: 0.5em 0;
  background-color: #205081;
  height: 2.5em;
}

.menu-toggle {
  border: 0;
  background-color: #205081;
  color: white;
  float: right;
  font-size: 1.5em;
}

.menu-toggle::after {
  display: block;
  content: "\2261";
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  top: 2.5em;
}

@media (min-width: 30em) {
  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    display: block;
    position: static;
  }
}

.menu.is-open .menu-dropdown {
  display: block;
}

.nav-menu {
  margin: 0;
  padding-left: 0;
  border: 1px solid #ccc;
  list-style: none;
  background-color: #205081;
}

.nav-menu > li + li {
  border-top: 1px solid #ccc;
}

.nav-menu > li > a {
  display: block;
  padding: 0.8em 1em;
  color: #FFF;
  font-weight: normal;
}

.nav-menu > li > input {
  display: block;
  margin: 0.8em 1em;
  color: #FFF;
  font-weight: normal;
}

@media (min-width: 30em) {
    .nav-menu > li > input {
      margin: 0em;
    }
}


@media (min-width: 30em) {
  .nav-menu {
    display: flex;
    border: 0;
  }
  .nav-menu > li {
   flex: 1 0 auto;
  }
  .nav-menu > li + li {
    border: 0;
  }
  .nav-menu > li > a {
    padding: 0em;
  }
}

#contentedit {
  width: 90%;
  min-height: 75px;
  outline: none;
  resize: none;
  max-width:95%;
  height: 40em;
}

.showProps {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

.showProps-cell {
  box-sizing: border-box;
  margin: 0em 0em 1em 0em;
  width: 100%;  // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: solid @bw white;
  background: fade(slategrey,20%);
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
}

.showProps-col1 { flex: 0 0 5%; }
.showProps-col2 { flex: 0 1 20%; border: solid 0.1em white; border-bottom-color: #103061; }
.showProps-col3 { flex: 0 0 5%; }
.showProps-col4 { flex: 0 0 5%; }
.showProps-col5 { flex: 0 1 60%; border: solid 0.1em white; border-bottom-color: #103061; }
.showProps-col6 { flex: 0 0 5%; }

.objProps-col1 { flex: 0 0 5%; }
.objProps-col2 { flex: 0 1 60%; border: solid 0.1em white; border-bottom-color: #103061; }
.objProps-col3 { flex: 0 0 5%; }
.objProps-col4 { flex: 0 0 5%; }
.objProps-col5 { flex: 0 1 20%; border: solid 0.1em white; border-bottom-color: #103061; }
.objProps-col6 { flex: 0 0 5%; }

.AddTable-col1 { flex: 0 0 35%; }
.AddTable-col2 { flex: 0 0 60% }
.AddTable-col3 { flex: 0 0 5%; }

.loginform {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

.loginfield { flex: 0 0 30%; margin: 0.5em 0em; }
.loginval { flex: 0 0 70%;  margin: 0.5em 0em; }

.lookup {
    width: 90%;
}

.editdesc {
    width: 90%;
}

.graphrow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 0em;
  padding: 0;
}

input[type="text"]
{
  font-size: 1em;
}

textarea {
  font-size: 0.8em;
}

#confheadertext {
	display: inline-block;
	margin: 0px auto;
	font-size: 12px;
	height: 25px;
	color: white;
	text-align: right;
}

#banner {
	text-align: center;
	height: auto;
	overflow: hidden;
	clear: both;
	margin: 0px auto;
	background-color: #205081;
	padding: 0px;
	border-bottom: 1px solid #2d2d2d;
}

ul#confmenu {
	list-style-type: none;
	display: inline-block;
	margin: 0 0 0 0px;
	float: left;
	vertical-align: bottom;
	align: left;
	line-height: 35px;
}

ul#confmenuright {
	width: 100x;
	list-style-type: none;
	display: inline-block;
	margin: 0 0 0 0px;
	float: right;
}

li.confitem {
	color: white;
	display: inline-block;
	font-size: 12px;
	padding: 0px 25px 0px 6px;
	vertical-align: bottom;
	line-height: 32px;
	float: left;
}

li.confitemright {
	width: 100px;
	color: white;
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	float: right;
	padding: 0px 6px 0px 6px;
	vertical-align: bottom;
	line-height: 32px;
}

.search {
	vertical-align: middle;
	display: inline-block;
	max-width: 10em;
}

img.logo {
	display: block;
	border: 2px 4px 0px 2px;
	float: left;
	height: 1.5em;
	margin: 0 0 0 1em;
}

img.findicon {
	display: block;
	margin: 0 0.4em 0 0;
	float: left;
	height: 1.5em;
    padding: 0 0 0 1em;
}

img.icon {
	display: block;
	margin: 0 0.4em 0 0;
	float: left;
	height: 1.5em;
}

.confitem:hover {
	background-color: #103061;
}

.confitem a {
	color: white;
	text-decoration: none;
}

.confcolheader {
	display: inline-block;
	margin: 5px auto;
	font-size: 14px;
	font-weight: bold;
}

.confcol {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin: 5px auto;
	font-size: 12px;
	float: left;
}

li.confcol {
	margin: 5px auto;
}

.conflist {
	list-style-type: none;
	margin: 5px auto;
}

.graph {
	display: inline-block;
	width: 90%;
	font-size: 1em;
}

.graphheader {
	display: inline-block;
	font-weight: bold;
	margin: 6px 0 0 0px;
}

.predheading {
	display: display-block;
	width: 40%;
	float: left;
	margin: 4px 4px 4px 60px;
	font-weight: bold;
	background: #6090B1;
	height: 20px;
}

.predheadingsubject {
	display: inline-block;
	width: 40%;
	float: left;
	margin: 4px 4px 4px 0px;
	font-weight: bold;
	background: #6090B1;
	height: 20px;
}

.subheading {
	display: inline-block;
	width: 40%;
	float: left;
	margin: 4px 4px 4px 0px;
	font-weight: bold;
	background: #6090B1;
	height: 20px;
}

.objheading {
	display: inline-block;
	width: 40%;
	float: left;
	margin: 0.5em 0;
	font-weight: bold;
	background: #6090B1;
	height: 1.2em;;
}

.objheadingsubject {
	display: inline-block;
	width: 40%;
	float: left;
	margin: 4px 4px 4px 80px;
	font-weight: bold;
	background: #6090B1;
	height: 20px;
}

.addpropheading {
	display: inline-block;
	width: 40%;
	float: left;
	margin: 0.5em 0;
	font-weight: bold;
	background: #6090B1;
	height: 1.2em;
}

.addprop {
	display: inline-block;
	width: 200px;
	margin: 4px 4px 4px 0px;
	vertical-align: top;
}

.addcontent {
	display: inline-block;
	width: 90%;
	margin: 4px 4px 4px 0px;
	vertical-align: top;
}

.addobjheading {
	display: inline-block;
	width: 40%;
	float: left;
	margin: 4px 4px 4px 60px;
	font-weight: bold;
	background: #6090B1;
	height: 20px;
}

.addobj {
	display: inline-block;
	width: 40%;
	margin: 4px 4px 4px 60px;
}

.node {
	display: inline-block;
}

.navicon {
	display: inline-block;
}

.pred {
	display: inline-block;
	margin: 1em;
	vertical-align: top;
	padding: 2px;
	border: solid 0.1em white;
	border-bottom-color: #205081;
}

.obj {
	display: inline-block;
	margin: 4px 4px 4px 4px;
	vertical-align: top;
	padding: 2px;
	border: solid 0.1em white;
	border-bottom-color: #103061;
}

.sub {
	display: inline-block;
	width: 200px;
	margin: 4px 4px 4px 4px;
	vertical-align: top;
	padding: 2px;
	border: solid 0.1em white;
	border-bottom-color: #003091;
}

#iconbuffer {
	display: inline-block;
	width: 30px;
}

#footerback {
	border-top: 1px solid #DDD;
	color: #141414;
}

#footerleft {
	float: left;
	color: #101010;
	font-size: 10px;
	padding: 3px;
}

#footerright {
	float: right;
	color: #101010;
	font-size: 10px;
	padding: 3px;
}

.graphid {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 5px 10px 0px;
	vertical-align: middle;
}

.titleicon {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 5px 10px 0px;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #3B5998;
}

.headingbig {
	display: inline-block;
	font-size: 1.5em;
	vertical-align: middle;
}

.configlist {
	margin: 24px 0px 5px 10px;
}

.configitem {
	margin: 10px 0px 5px 10px;
}

.ui-widget {
	display: inline-block;
	padding: 2px;
	font-size: 12px !important;
}

.submitbutton {
    font-size: inherit;
    border: 0;
    background: transparent;
    background-position: 50% 50%;
}

.submiticon {
    height: 1.3em;
    border: 0;
    padding: 0;
}

.addicon {
    height: 1em;
}

.addertext {
	display: inline-block;
	padding: 4px;
}

.addtextfile {
	vertical-align: middle;
}

.addbinfile {
	vertical-align: middle;
}

a.addtext {
	display: inline-block;
	padding: 4px;
}

a.addlink {
	display: inline-block;
	padding: 4px;
}
.addericon {
	display: inline-block;
	padding: 4px;
}

.adder {
	display: inline-block;
	padding: 4px;
}

.messages {
	padding: 6px;
}

.goodmsg {
	color: green;
}

.errormsg {
	color: red;
}

.editbutton {
	margin: 4px 10px 4px 0px;
	height: 1.5em;
}

#validatetemplate {
	margin: 4px 10px 4px 0px;
}

.editbuttons {
	margin: 20px 0px 0px 0px;
}

#spacer {
	display: inline-block;
	margin: 0px 60px 0px 0px;
}

.editable {
    width: 600px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}
