@import url('https://fonts.googleapis.com/css?family=Armata');

body {
  font-family: Armata, verdana;
}

:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.2em);
}

*,
::before,
::after {
    box-sizing: inherit;
}

.clearfix::after {
  display: block;
  content: " ";
  clear: both;
}

body * + * {
}


@media (min-width: 30em) {
  #main {
    font-size: calc(1vw + 0.4em);
  }
}

@media (min-width: 70em) {
  #main {
    font-size: calc(1vw + 0.2em);
    margin: 0 10em;
  }
}

.bannerback {
  text-align: center;
  height: auto;
  overflow: hidden;
  clear: both;
  margin: 0px auto;
  background-color: #205081;
  padding: 0px;
  border-bottom: 1px solid #2d2d2d;
}

.banner {
  padding: 1em;
  margin: 0 6em;
}

